body {
    background-color: #eee;
    margin-top: 10px;
}
.dialog {
    position:absolute;
    left:50%;
    top:50%;
    width:330px;
    height: 250px;
    margin-left:-165px;
    margin-top: -125px;
}
#img {
    display: block;
    width: 78px;
    height: 38px;
}
