<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="dialog">
                {[{if .r}]}
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{[{ .msg}]}!</strong>
                </div>
                {[{end}]}
                <form class="form-horizontal" role="form" action="/login" method="post">
                    <div class="form-group">
                        <label for="username" class="col-xs-3 col-sm-3 control-label">用户名</label>
                        <div class="input-group col-xs-7 col-sm-7">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input type="text" class="form-control" id="username" value="{[{.username}]}" name="username" placeholder="用户名" required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-xs-3 col-sm-3 control-label">密　码</label>
                        <div class="input-group col-xs-7 col-sm-7">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-eye-close"></span>
                            </span>
                            <input type="password" class="form-control" id="password" value="{[{.password}]}"  name="password" placeholder="密　码" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-xs-3 col-sm-3 control-label">验证码</label>
                        <div class="input-group col-xs-7 col-sm-7">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-picture"></span>
                            </span>
                            <input type="text" class="form-control" id="code" name="code" placeholder="验证码" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-xs-offset-3 col-sm-offset-3 col-xs-7 col-sm-7">
                            <img src="/loginPassCodeNew/" id="img" title="单击刷新验证码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-xs-offset-3 col-sm-offset-3 col-xs-7 col-sm-7">
                            <button type="submit" class="btn btn-default">登陆</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /container -->

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>
